body {
  margin: 2em;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

aside > li {
  list-style: none;
  margin-bottom: 0.5em;
}

.name {
  font-weight: 600;
  color: #424242;
}
